/* Header class styles */
.header
{
    padding: 500px;
    background-color: white;
    margin: 100px;
    box-shadow: 3px 3px;
}


/* Menu Image */
.header img
{
    margin-top: -500px;
    margin-left: -480px;
    border-bottom: 2px groove #fff8f8;
    border-top: none;
}